{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}



{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
{# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
<img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

{% endblock %}

{% block app_content %}
{% endblock %}

{% block global_styles %}
{{ block.super }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
{% endblock %}

{% block global_scripts %}
{{block.super}}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<!--<script src="https://highcharts.github.io/export-csv/export-csv.js"></script>-->
<script src="https://openlayers.org/en/v4.4.2/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block app_actions_override %}

{% endblock %}
{% block content_dependent_styles %}
{{ block.super }}
<link href="{% static 'altex/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'altex/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
